/* Navbar container */

.banner {
    height: 92px;
    background-color: #ffffff;
    font-family: "Blender Pro", serif;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .085);
    z-index: 10;
}

.banner > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

.main-menu {
    justify-content:flex-end;
}

.banner > .container .brand {
    display: inline-block;
    margin-right: auto;
}

.banner > .container nav {
    display: block;
}

/* Links inside the navbar */
.main-menu a {
    /*float: left;*/
    /*display:inline-block;*/
    transition: color .5s ease;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #898e93;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    padding: 29px 20px;
}

/* The dropdown container */
.dropdown {
    /*float: left;*/
    display: inline-block;
    overflow: visible;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #898e93;
    border: none;
    outline: none;
    padding: 29px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-toggle::after {
    font-family: Ionicons, sans-serif;
    color: #898e93;
    font-weight: 400;
    content: "\f104";
    font-size: 18px;
    transform: translateY(-50%);
}

/* Add a red background color to navbar links on hover */
.main-menu a:hover, .dropdown:hover .dropbtn {
    color: #d23f36;
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    transform: translateY(91px);
    display: none;
    padding: 0;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    border: 1px solid #e7e8e9;
    float: none;
    color: #898e93;
    white-space: nowrap;
    font-weight: 400;
    transition: color .5s ease;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 20;
}

.dropdown-content a:hover {
    background-color: #d23f36;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(25%);*/
    /*float: left;*/
    /*display:inline-block;*/
    height: 50px;
}
