.form-control.btn-dicos {
    padding: 5px 10px;

    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d23f36;
    border: #d23f36;
    color: #fff;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 20px;
    height: auto;
    width: 150px;
}

.form-control.btn-dicos-wide {
    padding: 5px 5px;
    font-family: "Blender Pro", serif;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d23f36;
    border: #d23f36;
    color: #fff;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 22px;
    height: auto;
}

.form-control.btn-dicos:hover {
    background-color: #121C27;
}

.form-control.btn-dicos-wide:hover {
    background-color: #121C27;
}

body {
    padding-top: 92px;
}

h3 {
    font-size: 48px !important;
    font-family: "Blender Pro", serif !important;
    font-weight: 600 !important;
    color: #121c27;
}

h3 strong {
    color: #d23f36;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    text-align: center;
    box-sizing: border-box;
}

.inputfile + label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    border: 1px solid #d23f36;
    background-color: #ffffff;
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.inputfile + label span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #121c27;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    flex-grow: 1;
}

.inputfile + label strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 10px;
    background-color: #d23f36;
    font-size: 18px;
    color: white;
}

.inputfile + label svg {
    fill: currentColor;
}

.padded {
    margin-bottom: 20px;
}

.list-group-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type=date] {
    text-align: center;
    line-height : normal !important;
}

input[type=time] {
    text-align: center;
    line-height : normal !important;
}

.centered {
    text-align: center;
    line-height : normal !important;
}

.edited {
    box-shadow: 0 0 3px #d23f36 !important;
    border-color: #d23f36 !important;
}