{% block javascript %}
    <script src="{{ url_for('static',filename='js/funcs.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="icon" href="/static/img/dicos_icon.png">
    <link href="{{ url_for('static', filename='css/dicos_navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dicos_fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dicos.css') }}" rel="stylesheet">

{% endblock %}

{% extends "bootstrap/base.html" %}#}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}ANEMO{% endblock %}


{% block navbar %}
        {{ nav.mynavbar.render(renderer='dicos_nav_bar') }}
{% endblock %}


{% block content %}

{% endblock %}

