{% extends "base.html" %}

{% block content %}
    <div class="page-content">

        <div class="container col-sm-1"></div>

        <h3>{{ title|safe }}</h3>
        <hr>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button
                        type="button"
                        class="close"
                        data-dismiss="alert">
                    x
                </button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="container col-md-1"></div>

        <form action="/signup" method="post" class="form" role="form">
            {{ form.csrf_token }}
            <div class="container col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.name, class='form-control', placeholder="John Smith") }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.email, class='form-control email', placeholder="yourmail@example.com") }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.password, class='form-control password') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.confirm, class='form-control password') }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        {#                        <label class="control-label" for="load_btn">&#8203;</label>#}
                        {{ wtf.form_field(form.submit, class='form-control btn-dicos') }}
                    </div>
                </div>

            </div>

        </form>
    </div>

{% endblock %}
