{% extends "base.html" %}

{% block content %}
    <div class="page-content">

        <div class="container col-sm-1"></div>

        <h3>{{ title|safe }}</h3>
        <hr>

        <div class="container col-md-1"></div>

        <form id="loading" action="" method="post" class="form" role="form">
            <div class="container col-md-4">

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.task_name, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      {{ wtf.form_field(form.cron_job, class='form-control') }}
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.flow_index, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.stat_index, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.es_config, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.stat_feat_config, class='form-control', value="{{ request.form['feat_config'] }}") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {#                        <label class="control-label" for="load_btn">&#8203;</label>#}
                        {{ wtf.form_field(form.submit, class='form-control btn-dicos') }}
                    </div>
                </div>

            </div>

        </form>
        {#<div class="container col-sm-1">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>#}

        <div class="container col-md-1"></div>

        <div class="container col-sm-5">
            <ul class="list-group">
                {% for schedule in schedules %}
                    <li class="list-group-item">{{ schedule }}
                        <a href="{{ url_for('routes_schedules.delete', schedule=schedule.name) }}">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{%- endblock %}
