{% extends "base.html" %}

{% block content %}
    <div class="page-content">

        <div class="container col-md-1"></div>

        <h3>{{ title|safe }}</h3>
        <hr>

        <div class="container col-md-1">
        </div>

        <form id="generating" action="" method="post" class="form" role="form">

            <div class="container col-md-3">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <label style="font-weight: normal">
                            {{ form.jinja_switch(onchange="time_config_jinja()") }}
                            Jinja Template
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ wtf.form_field(form.date_start, class='form-control') }}
                    </div>

                    <div class="col-md-6">
                        {{ wtf.form_field(form.date_end, class='form-control') }}
                    </div>
                </div>

                <div class="row" style="padding-bottom: 15px;">
                    <div class="col-md-6">
                        {{ form.date_start_jinja(class='form-control centered', disabled=true) }}
                    </div>

                    <div class="col-md-6">
                        {{ form.date_end_jinja(class='form-control centered', disabled=true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ wtf.form_field(form.time_start_global, class='form-control', value="00:00") }}
                    </div>

                    <div class="col-md-6">
                        {{ wtf.form_field(form.time_end_global, class='form-control', value="23:59") }}
                    </div>
                </div>

                <b>Tag Selection</b>

                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-4">
                        {{ wtf.form_field(form.working_days, class='form-control') }}
                    </div>

                    <div class="col-md-4">
                        {{ wtf.form_field(form.weekends, class='form-control') }}
                    </div>

                    <div class="col-md-4">
                        {{ wtf.form_field(form.holidays, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.filename_field, class='form-control', form="generating") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.form_field(form.submit_btn, class='form-control btn-dicos', form="generating") }}
                    </div>
                </div>

            </div>

            <div class="container col-md-1"></div>

            <div class="container col-md-3">
                {% if form.weekdays|length > 1 %}
                    <table class="table" id="weekdays_table">
                        <thead>
                        <tr>
                            <th class="text-center" scope="col">Weekday</th>
                            <th class="text-center" scope="col">Use</th>
                            <!--<th class="text-center" scope="col">Start</th>-->
                            <!--<th class="text-center" scope="col">End</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in form.weekdays %}
                            <tr>
                                <th>{{ entry.weekday_name(class_="form-control", readonly=true) }}</th>
                                <td>{{ entry.use_field(checked=False, class_="form-control") }}</td>
                                <!--<td>{{ entry.time_start(class_="form-control", value="00:00", onchange="$(this).addClass('edited');") }}</td>-->
                                <!--<td>{{ entry.time_end(class_="form-control", value="23:59", onchange="$(this).addClass('edited');") }}</td>-->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
            </div>
        </form>
    </div>

{%- endblock %}
