{% extends "base.html" %}

{% block content %}
    <div class="page-content">

        <div class="container col-md-1"></div>

        <h3>{{ title|safe }}</h3>
        <hr>

        <div class="container col-md-1"></div>

        <form id="loading" action="" method="post" class="form" role="form">
            <div class="container col-md-3">
                <div class="row">
                    <div class="col-md-8">
                        {{ wtf.form_field(form.ip_field, class='form-control') }}
                    </div>

                    <div class="col-md-4">
                        {{ wtf.form_field(form.port_field, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.index_field, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ wtf.form_field(form.user_field, class='form-control') }}
                    </div>

                    <div class="col-md-6">
                        {{ wtf.form_field(form.pass_field, class='form-control', type="password") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.exclude_field, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {#                    <label class="control-label" for="load_btn">&#8203;</label>#}
                        {{ wtf.form_field(form.load_btn, class='form-control btn-dicos-wide') }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    {% if allow_generate %}
                        <div class="col-md-12">
                            {{ wtf.form_field(config_form.filename_field, class='form-control', form="generating") }}
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            {{ wtf.form_field(config_form.filename_field, class='form-control', form="generating",
                        disabled=True, title='You have to load the elasticsearch features first!', **{'data-toggle': 'tooltip'}) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if allow_generate %}
                        <div class="col-md-12">
                            {{ wtf.form_field(config_form.generate_btn, class='form-control btn-dicos-wide', form="generating") }}
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            {{ wtf.form_field(config_form.generate_btn, class='form-control ', form="generating",
                        disabled=True, title='You have to load the elasticsearch features first!', **{'data-toggle': 'tooltip'}) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>


        <div class="container col-md-1"></div>

        <div class="container col-md-6">
            <form id="generating" action="" method="post" class="form" role="form">
                {% if config_form.features|length > 0 %}
                    <div class="table-wrapper">
                        <table class="table feature-table">
                            <thead>
                            <tr>
                                <th class="text-center" scope="col">Feature Name</th>
                                <th class="text-center" scope="col">Default</th>
                                <th class="text-center" scope="col">Use</th>
                                <th class="text-center" scope="col">Scale</th>
                                <th class="text-center" scope="col">Encode</th>
                                <th class="text-center" scope="col">Enc. Bits</th>
                                <th class="text-center" scope="col">Dimension Reduction</th>
                                <th class="text-center" scope="col">Variance Threshold</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% set count = 1 %}
                            {% for entry in config_form.features %}
                                <tr>
                                    <th>{{ entry.feat_name(class_="form-control", readonly=true) }}</th>
                                    <th>{{ entry.default_field(class_="form-control", value=0) }}</th>
                                    <td>{{ entry.use_field(checked=False, class_="form-control") }}</td>
                                    <td>{{ entry.scale_field(class_="form-control") }}</td>
                                    <td>{{ entry.enc_field(class_="form-control") }}</td>
                                    <td>{{ entry.enc_config(class_="form-control", value=16, disabled=false) }}</td>
                                    <td>{{ entry.dim_red_field(class_="form-control") }}</td>
                                    <td>{{ entry.vt_field(class_="form-control", value=0.9, disabled=false) }}</td>
                                </tr>
                                {% set count = count + 1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}
            </form>
        </div>

    </div>
{%- endblock %}

