{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "macro_dicos_upload_field.jinja" as macros %}

{% block content %}

    <div class="page-content">
        <div class="container col-sm-1"></div>

        <h3>{{ title|safe }}</h3>
        <hr>

        <div class="container col-md-1"></div>

        <div class="container col-sm-3">
            <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ macros.render_upload_field('es_config_btn', "Elasticsearch Config") }}
                {{ macros.render_upload_field('feat_config_btn', "Feature Config") }}
                {{ macros.render_upload_field('stat_feat_config_btn', "Statistical Features Config") }}
                {{ macros.render_upload_field('time_config_btn', "Time Range Config") }}

                {{ wtf.form_field(form.submit, class='form-control btn-dicos') }}
            </form>
{#            {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}#}
        </div>

        <div class="container col-sm-2">
            <div style="text-align: center;">
                <b>Elasticsearch Config</b>
            </div>
            <br>
            <ul class="list-group">
                {% for file in es_config_files %}
                    <li class="list-group-item">
                        <a href="{{ url_for('routes_configs.download', filename=file[0]) }}">{{ file[1] }}</a>
                        <a href="{{ url_for('routes_configs.delete', filename=file[0]) }}">Delete</a><br>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="container col-sm-2">
            <div style="text-align: center;">
                <b>Feature Config</b>
            </div>
            <br>
            <ul class="list-group">
                {% for file in feat_config_files %}
                    <li class="list-group-item">
                        <a href="{{ url_for('routes_configs.download', filename=file[0]) }}">{{ file[1] }}</a>
                        <a href="{{ url_for('routes_configs.delete', filename=file[0]) }}">Delete</a><br>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="container col-sm-2">
            <div style="text-align: center;">
                <b>Statistical Feature Config</b>
            </div>
            <br>
            <ul class="list-group">
                {% for file in stat_feat_config_files %}
                    <li class="list-group-item">
                        <a href="{{ url_for('routes_configs.download', filename=file[0]) }}">{{ file[1] }}</a>
                        <a href="{{ url_for('routes_configs.delete', filename=file[0]) }}">Delete</a><br>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="container col-sm-2">
            <div style="text-align: center;">
                <b>Time Config</b>
            </div>
            <br>
            <ul class="list-group">
                {% for file in time_config_files %}
                    <li class="list-group-item">
                        <a href="{{ url_for('routes_configs.download', filename=file[0]) }}">{{ file[1] }}</a>
                        <a href="{{ url_for('routes_configs.delete', filename=file[0]) }}">Delete</a><br>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{%- endblock %}
