{% extends "base.html" %}

{% block content %}
    <div class="page-content">

        <div class="container col-md-1"></div>

        <h3>{{ title|safe }}</h3>
        <hr>

        <div class="container col-md-1"></div>

        <form id="loading" action="" method="post" class="form" role="form">
            <div class="container col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.interface, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        {{ wtf.form_field(form.ip, class='form-control') }}
                    </div>

                    <div class="col-md-4">
                        {{ wtf.form_field(form.port, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label" for="load_btn">&#8203;</label>
                        {{ wtf.form_field(form.submit, class='form-control btn-dicos-wide') }}
                    </div>
                </div>
            </div>

            <div class="container col-md-1"></div>

            <div class="container col-md-2">
                {{ wtf.form_field(form.running_status, class='form-control', disabled=true) }}
            </div>

        </form>
    </div>
{%- endblock %}

